@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

/* Autocomplete Modification Transparent Background */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.mobnum {
  color : black !important;
  -webkit-text-fill-color: black !important;
}

/* width */
/* ::-webkit-scrollbar {
    width: 10px;
} */
 
/* Track */
/* ::-webkit-scrollbar-track {
    background: #f1f1f1;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 5px;
}
  */
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */